[NEXTCLOUD]
# Pricing and performance will vary depending on the chosen size
size = t2.micro
# Before running this script, you MUST manually create a keypair in AWS
keyName = AWS_EC2
# Chose the AZ closest to you
availabilityZone = eu-west-3b
# Generate AND SAVE SOMEWHERE SAFE two passwords: https://passwordsgenerator.net/
mysqlRootPassword = "testeur56"
mysqlNextcloudPassword = "testeur56"
